# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
blackout-notify/bin/
blackout-notify/rootfs/app

# Local development
.env
*.local

# Docker
docker-compose.override.yml
